/* Main CSS3 style sheet */
/* Window initialization for viewport and overflow rectifier*/
html {
    height: 100%;
    width: 100%;

}

/* Removes default margins from body's edges, also hides overflow */
body {
     margin: 0px;
     height: 100%;
     width: 100%;
    font-family: nevix, sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

*:focus {
    outline: none;

}

*::selection {
    background: none;
}

.headshot{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.headshot:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;

}

/* Custom font face, called nevix, to change font replace with a .woff or .woff2 file in url */
@font-face {
    font-family: nevix;
    src: url(font3.woff2);
}

/* CSS for custom on-click ripple effect */
.ripple {
    height: 6px;
    width: 6px;
    background: #eaeaea;
    border-radius: 200px;
    position: absolute;
    transform-origin: center;
    -webkit-animation-name: expand;
    -moz-animation-name: expand;
    -o-animation-name: expand;
    animation-name: expand;
    animation-fill-mode: forwards;
    animation-duration: .35s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    z-index: 100;
    pointer-events: none;
}

@keyframes expand {
    from {
        transform: scale(1);
        opacity: .6;
    }
    to {
        transform: scale(30);
        opacity: 0;
    }
}

/* Below are standard css classes and their respective property changes for styling the website */
.nav-bar {
    width: 100vw;
    height: 65px;
    background-color: rgba(10, 10, 10, 1);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: fixed;
    z-index: 20;
    top: 0px;
}

.main-body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;

}

.foot-bar {
    width: 100%;
    height: 0%;
    background-color: rgb(10, 10, 10);

}

.icon {
    color: white;
    font-size: 28px;
    margin-right: 15px;
}

.icons {
    left: 10px;
    top: 50%;
    transform: translateY(-47%);
    position: absolute;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.nav-links {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

}

.link {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 35px
    letter-spacing: 2px;
    margin-left: 20px;
}

a {
    text-decoration: none!important;

}
a:hover{
    text-decoration: none !important;
    color: whitesmoke;
}

.main-body {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.main-logo {
    height: 200px;
    margin-bottom: 35px;
}

.main-content {
    left: 50%;
    top: 36%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

.main-buttons {
    text-align: center;
}

.main-button {
    display: inline-block;
    height: 50px;
    width: 160px;
    border-radius: 50px;
    background-color: transparent;
    border: white solid 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 43px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    letter-spacing: 2px;
    transition-duration: .4s;
}

.button-first {

    margin-right: 15px;
    background-color: white;
    color: black;
}

.main-button:hover {
    background-color: white;
    transition-duration: .4s;
    color: black;
}

.button-first:hover {
    background-color: transparent;
    border: white solid 3px;
    color: white;
}

.item {
    color: whitesmoke;
    text-align: center;
}

.owl-carousel {
    position: absolute;
}

.owl-nav {
    height: 20px;
    margin: 0;
}

.owl-nav button {
    color: whitesmoke !important;
    opacity: 0.3;
    z-index: 3;
}

.owl-nav button i {
    font-size: 42px !important;
}

.owl-nav button:focus {
    outline: none;
}

.owl-nav button:hover {
    background: none !important;

}

.owl-next {
    transform: translate3d(400px, -120px, 0);
}

.owl-prev {
    transform: translate3d(-400px, -120px, 0);
}

.testimonial {
    width: 500px;
    height: 150px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, .65);
    display: inline-block;
    color: black;
    text-align: left;
    padding: 20px;
}

.t-photo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    background-position: center !important;
    background-size: cover !important;
}

.t-name {
    font-weight: 600;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 6px;
}

.t-title {
    color: #595959;
    font-weight: 300;
    font-size: .85em;
    line-height: 30px;
}

.t-rating {
    display: inline-block;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    letter-spacing: 8px;
    margin-top: 5px;
}

.t-content {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    color: #3f3f3f;
    font-family: nevix;
    font-style: italic;
}

.gallery-title {
    width: 100%;
    height: 230px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 230px;
    font-size: 3.4em;
    margin-top: 65px;
    position: relative;
    opacity: 0;
    -webkit-animation-name: semtex;
    -moz-animation-name: semtex;
    -o-animation-name: semtex;
    animation-name: semtex;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-delay: 1.8s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes semtex {
    from {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }

}

.gallery-info {
    border: rgb(37, 37, 37) solid 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 20vw;
    height: 60vh;
    margin: 0;
    float: left;
    background: rgb(37, 37, 37);
    color: white;
    position: relative;
    z-index: 10;

}

.gallery-contain {
    position: relative;
    display: inline-block;
    opacity: 0;
    margin-bottom: 7vh;
    -webkit-animation-name: semtex;
    -moz-animation-name: semtex;
    -o-animation-name: semtex;
    animation-name: semtex;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.gallery-contain:last-of-type {
    margin-bottom: 0px;
}

.parallaxParent {
    height: 60vh;
    overflow: hidden;
    width: 80vw;
    position: relative;
    float: left;

}

.parallaxParent > div {
    height: 200%;
    position: relative;
    top: -100%;
    background-size: cover;
    background-position: center;
    z-index: -3;
    filter: blur(6px);

}

.parallaxParent h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    line-height: 60vh;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    font-size: 9vw;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: 0;
    letter-spacing: 20px;
    text-transform: capitalize;
    z-index: -2;
    transition-duration: .8s;
}

.black {
    background: rgba(0, 0, 0, 1) !important;
    opacity: .5;

}

section {
    color: rgb(43, 43, 43);
    position: relative;
}

section h1 {
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

section p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2em;
}

section span {
    bottom: 10px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
    font-size: .9em;
    position: absolute;
    transition-duration: .4s;
    color: rgba(179, 175, 179, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #4c4b4f;
    padding: 6px;
}

section i {
    font-size: 3em !important;
    transition-duration: .4s;
}

.swerve {
    transform: rotate(180deg);

}

em {
    transition-duration: .4s;
}

section p {
    max-height: 60%;
    overflow: scroll;
}

section span:hover i {
    color: whitesmoke;
    transition-duration: .4s;
}

section span:hover {
    background: rgb(37, 37, 37);
    transition-duration: .4s;
    cursor: pointer;
}

section span:hover em {
    color: whitesmoke;
    transition-duration: .4s;
}

.activated {
    background: rgb(37, 37, 37);
    color: whitesmoke;
    transition-duration: .4s;
    cursor: pointer;
}

.gallery-pictures {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-x: scroll;
}

.gallery-pictures img {
    max-height: 40vh;
    max-width: 20vw;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition-duration: .8s;

    transition-timing-function: ease-in-out;
}

.gallery-pictures img:hover {
    cursor: pointer;

}

.focusmist {
    transform: scale(3);
}

.image-focus {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    display: none;
    top: 0px;
}

.image-focused {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0;
    transition-duration: .6s;
}

.reveal {
    opacity: 1;
    top: 50%;
    transition-duration: .6s;
}

p::selection {
    background-color: black;
    color: white;
}

.pre-load {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 120;
    background: black;
    transition-duration: 1s;
    transition-delay: 1s;
}

.progress {
    top: 50%;
    width: 90%;
    left: 5%;
    background: whitesmoke;
}

.indeterminate {
    background-color: black !important;
}

.loaded {
    opacity: 0;
    transition-duration: .7s;
}

.owl-item {
    background-color: rgba(0, 0, 0, 0) !important;
}

.transparent {
    background: rgba(0, 0, 0, 0) !important;
}

.icons-m {
    bottom: 5px;
    left: 50%;
    z-index: 30;
    transform: translateX(-43%);
    position: fixed;
}

.nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 45px;
    transform: translateX(-50%) translateY(-52%);

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {

    font-family: 'Raleway', Helvetica, arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
}

.header {
    text-align: center;
}

a {
    text-decoration: none;
    color: #94ac94;
}

/*-------------------------------------------------------------------*/
.menu {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 10;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: -8px;
    cursor: pointer;
}

.menu .pix {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

.menu .pix:nth-of-type(1) {
    -webkit-transform: translate(0px, 0px);
    transform: translate(4px, 4px);
}

.menu .pix:nth-of-type(2) {
    -webkit-transform: translate(16px, 0px);
    transform: translate(16px, 4px);
}

.menu .pix:nth-of-type(3) {
    -webkit-transform: translate(32px, 0px);
    transform: translate(28px, 4px);
}

.menu .pix:nth-of-type(4) {
    -webkit-transform: translate(0px, 16px);
    transform: translate(4px, 16px);
}

.menu .pix:nth-of-type(5) {
    -webkit-transform: translate(16px, 16px);
    transform: translate(16px, 16px);
}

.menu .pix:nth-of-type(6) {
    -webkit-transform: translate(32px, 16px);
    transform: translate(28px, 16px);
}

.menu .pix:nth-of-type(7) {
    -webkit-transform: translate(0px, 32px);
    transform: translate(4px, 28px);
}

.menu .pix:nth-of-type(8) {
    -webkit-transform: translate(16px, 32px);
    transform: translate(16px, 28px);
}

.menu .pix:nth-of-type(9) {
    -webkit-transform: translate(32px, 32px);
    transform: translate(28px, 28px);
}



.menu:hover .pix:nth-of-type(1) {
    -webkit-transform: translate(-8px, -8px);
    transform: translate(-4px, -4px);
}

.menu:hover .pix:nth-of-type(3) {
    -webkit-transform: translate(40px, -8px);
    transform: translate(36px, -4px);
}

.menu:hover .pix:nth-of-type(7) {
    -webkit-transform: translate(-8px, 40px);
    transform: translate(-4px, 36px);
}

.menu:hover .pix:nth-of-type(9) {
    -webkit-transform: translate(40px, 40px);
    transform: translate(36px, 36px);
}

.menu.active .pix {

    width: 3px;
    height: 3px;
}

.menu.active .pix:nth-of-type(1) {
    -webkit-transform: translate(0, 0);
    transform: translate(2px, 2px);
}

.menu.active .pix:nth-of-type(2) {
    -webkit-transform: translate(8px, 8px);
    transform: translate(9px, 9px);
}

.menu.active .pix:nth-of-type(3) {
    -webkit-transform: translate(32px, 0);
    transform: translate(30px, 2px);
}

.menu.active .pix:nth-of-type(4) {
    -webkit-transform: translate(8px, 24px);
    transform: translate(9px, 23px);
}

.menu.active .pix:nth-of-type(6) {
    -webkit-transform: translate(24px, 8px);
    transform: translate(23px, 9px);
}

.menu.active .pix:nth-of-type(7) {
    -webkit-transform: translate(0, 32px);
    transform: translate(2px, 30px);
}

.menu.active .pix:nth-of-type(8) {
    -webkit-transform: translate(24px, 24px);
    transform: translate(23px, 23px);
}

.menu.active .pix:nth-of-type(9) {
    -webkit-transform: translate(32px, 32px);
    transform: translate(30px, 30px);
}

.menu.active:hover .pix:nth-of-type(1) {
    -webkit-transform: translate(-8px, -8px);
    transform: translate(-4px, -4px);
}

.menu.active:hover .pix:nth-of-type(2) {
    -webkit-transform: translate(4px, 4px);
    transform: translate(6px, 6px);
}

.menu.active:hover .pix:nth-of-type(3) {
    -webkit-transform: translate(40px, -8px);
    transform: translate(36px, -4px);
}

.menu.active:hover .pix:nth-of-type(4) {
    -webkit-transform: translate(4px, 28px);
    transform: translate(6px, 26px);
}

.menu.active:hover .pix:nth-of-type(6) {
    -webkit-transform: translate(28px, 4px);
    transform: translate(26px, 6px);
}

.menu.active:hover .pix:nth-of-type(7) {
    -webkit-transform: translate(-8px, 40px);
    transform: translate(-4px, 36px);
}

.menu.active:hover .pix:nth-of-type(8) {
    -webkit-transform: translate(28px, 28px);
    transform: translate(26px, 26px);
}

.menu.active:hover .pix:nth-of-type(9) {
    -webkit-transform: translate(40px, 40px);
    transform: translate(36px, 36px);
}

.nav-hidden {
    width: 100vw;
    height: 50px;
    background: black;
    position: fixed;
    top: 10px;
    z-index: 9;
    transition: .5s  ease-in-out;

}
.drop{
    top: 65px;
    transition: .5s  ease-in-out;
}

.error-back{
    background: url("clout.png");
    background-size:400px ;
    background-position: center;
}

.box-outer {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 200px;
}
.main_box {
    width: 300px;
    height: 200px;
    position: relative;

    border: 5px solid rgba(0,0,0,0);
}
.bar {
    position: absolute;
    width: 50px;
    height: 10px;
    background: #fff;
    transition: all 1s linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}
.bar.delay {
    animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
}
.top {
    top: -5px;
    left: -5px;
    background: #bf1408;
}
.right {
    top: 18px;
    right: -28px;
    transform: rotate(90deg);
    background: #bf1408;
    animation-delay: .2s;
}
.bottom {
    bottom: -5px;
    left: -5px;
    animation-delay: .2s;
}
.left {
    top: 18px;
    left: -28px;
    transform: rotate(90deg);
}
@-webkit-keyframes h-move {
    0% {
        left: -5px;
    }
    100% {
        left: 300px;
    }
}
@keyframes h-move {
    0% {
        left: -5px;
    }
    100% {
        left: 300px;
    }
}
.top, .bottom {
    -webkit-animation-name: h-move;
    animation-name: h-move;
}
@-webkit-keyframes v-move {
    0% {
        top: -5px;
    }
    100% {
        top:228px;
    }
}
@keyframes v-move {
    0% {
        top: -5px;
    }
    100% {
        top:228px;
    }
}
.right, .left {
    -webkit-animation-name: v-move;
    animation-name: v-move;
}
.error-message{
    font-size: 66px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;

}
