/* Main CSS3 style sheet */
/* Window initialization for viewport and overflow rectifier*/
html {
    height: 100%;
    width: 100%;

}

/* Removes default margins from body's edges, also hides overflow */
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: nevix;

}
*:focus{
    outline: none;

}
*::selection{
    background: none;
}

/* Custom font face, called nevix, to change font replace with a .woff or .woff2 file in url */
@font-face {
    font-family: nevix;
    src: url(font3.woff2);
}

/* CSS for custom on-click ripple effect */
.ripple {
    height: 6px;
    width: 6px;
    background: white;
    border-radius: 200px;
    position: absolute;
    transform-origin: center;
    -webkit-animation-name: expand;
    -moz-animation-name: expand;
    -o-animation-name: expand;
    animation-name: expand;
    animation-fill-mode: forwards;
    animation-duration: .35s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    z-index: 100;
    pointer-events: none;
}

@keyframes expand {
    from {
        transform: scale(1);
        opacity: .6;
    }
    to {
        transform: scale(30);
        opacity: 0;
    }
}

/* Below are standard css classes and their respective property changes for styling the website */
.nav-bar {
    width: 100%;
    height: 7%;
    background-color: rgb(10, 10, 10);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: fixed;
    z-index: 20;
    top:0px;
}

.main-body {
    width: 100%;
    height: 93%;
    background-color: rgba(0, 0, 0, .5);
    top: 7%;
    position: fixed;

}

.foot-bar {
    width: 100%;
    height: 0%;
    background-color: rgb(10, 10, 10);

}

.icon {
    color: white;
    font-size: 3.8vh;
    margin-right: 14px;
}

.icons {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.nav-links {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

}

.link {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.8vh;
    letter-spacing: 2px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.main-body {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.main-logo {
    height: 200px;
    margin-bottom: 35px;
}

.main-content {
    left: 50%;
    top: 36%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

.main-buttons {
    text-align: center;
}

.main-button {
    display: inline-block;
    height: 50px;
    width: 160px;
    border-radius: 50px;
    background-color: transparent;
    border: white solid 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 43px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    letter-spacing: 2px;
    transition-duration: .4s;
}

.button-first {

    margin-right: 15px;
    background-color: white;
    color: black;
}

.main-button:hover {
    background-color: white;
    transition-duration: .4s;
    color: black;
}

.button-first:hover {
    background-color: transparent;
    border: white solid 3px;
    color: white;
}

.item {
    color: whitesmoke;
    text-align: center;
}

.owl-carousel {
    position: absolute;
}

.owl-nav {
    height: 20px;
    margin: 0;
}

.owl-nav button {
    color: whitesmoke !important;
    opacity: 0.3;
    z-index: 3;
}

.owl-nav button i {
    font-size: 42px !important;
}

.owl-nav button:focus {
    outline: none;
}

.owl-nav button:hover {
    background: none !important;

}

.owl-next {
    transform: translate3d(400px, -120px, 0);
}

.owl-prev {
    transform: translate3d(-400px, -120px, 0);
}

.testimonial {
    width: 500px;
    height: 150px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, .65);
    display: inline-block;
    color: black;
    text-align: left;
    padding: 20px;
}

.t-photo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    background-position: center !important;
    background-size: cover !important;
}

.t-name {
    font-weight: 600;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 6px;
}

.t-title {
    color: #595959;
    font-weight: 300;
    font-size: .85em;
    line-height: 30px;
}

.t-rating {
    display: inline-block;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    letter-spacing: 8px;
    margin-top: 5px;
}

.t-content {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    color: #3f3f3f;
    font-family: nevix;
    font-style: italic;
}
.gallery-title{
    width: 100%;
    height: 230px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 230px;
    font-size: 3.4em;
    margin-top: 7vh;
    position: relative;
}
.gallery-info {
    border: rgb(37, 37, 37) solid 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 20vw;
    height: 60vh;
    margin: 0;
    float: left;
    background: white;
    position: relative;
z-index: 10;

}
.gallery-contain{
    position: relative;
    display: inline-block;
    margin-bottom: 7vh;
}
.parallaxParent {
    height: 60vh;
    overflow: hidden;
    width: 80vw;
    position: relative;
    float: left;
}

.parallaxParent > div {
    height: 200%;
    position: relative;
    top: -100%;
    background-size: cover;
    background-position: center;
    z-index: -3;
    filter: blur(6px);
}

.parallaxParent h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    line-height: 60vh;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
    font-size: 9vw;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    margin: 0;
    letter-spacing: 20px;
    text-transform: capitalize;
    z-index: -2;
    transition-duration: .8s;
}
.black{
    background: rgba(0,0,0,1) !important;
    opacity: .5;
}
section{
    color: rgb(43, 43, 43);
    position: relative;
}
section h1{
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
section p{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.12em;
}
section span{
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%,0,0);
    text-align: center;
    font-size: .9em;
    position: absolute;
    transition-duration: .4s;
    color: rgba(179, 175, 179, 0.5);
    width: 100%;
     background: #4c4b4f;
    padding-top: 15px;
}
section i{
    font-size: 3em !important;
    transition-duration: .4s;
}
.swerve{
    transform: rotate(180deg);

}
em{
    transition-duration: .4s;
}
section p {
    max-height: 60%;
    overflow: scroll;
}
section span:hover i {
    color: whitesmoke;
    transition-duration: .4s;
}
section span:hover {
    background: rgb(37, 37, 37);
    transition-duration: .4s;
    cursor: pointer;
}
section span:hover em{
    color: whitesmoke;
    transition-duration: .4s;
}

.active{
    background: rgb(37, 37, 37);
    color: whitesmoke;
    transition-duration: .4s;
    cursor: pointer;
}

.gallery-pictures{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-x: scroll;
}
.gallery-pictures img{
    max-height: 40vh;
    max-width: 20vw;
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0);
    transition-duration: .8s;

    transition-timing-function: ease-in-out;
}

