/* CSS file for all changes to make the website mobile friendly with media queries */
@media screen and (max-width: 650px) {

    .main-logo {
        height: 150px;
    }

    .button-first {
        margin: 0px 0px 30px;
        line-height: 48px !important;
    }

    .main-button {
        width: 185px;
        height: 55px;
        line-height: 50px;
        font-size: 1.2em;
    }

    .icons {
        left: 15px;
    }

    .main-content {
        top: 50%;
    }

    .owl-carousel {
        display: none !important;
    }
}

@media screen and (max-height: 750px) {
    .owl-carousel {
        display: none !important;
    }

    .main-content {
        top: 50%;
    }
}
@media screen and (max-width: 1350px) {
.parallaxParent{
    width: 70vw;
}
    .gallery-info{
    width: 30vw;

    }


}
@media screen and (max-width: 700px) {
    .parallaxParent{
        width: 100vw;
    }
    .gallery-info{
        width: 100vw;

    }
    .parallaxParent h1{
        letter-spacing: 10px;
    }
.gallery-title{
    font-size: 2.3em;
    height: 170px;
    line-height: 170px;
}
.gallery-pictures {
    display: none;
}
section span{
    display: none;
}

}
