
@media screen and (max-width: 650px) {

    .main-logo {
        height: 150px;
    }

    .button-first {
        margin: 0px 0px 30px;
        line-height: 48px !important;
    }

    .main-button {
        width: 185px;
        height: 55px;
        line-height: 50px;
        font-size: 1.2em;
    }

    .icons {
        left: 15px;
    }

    .main-content {
        top: 50%;
    }

    .owl-carousel {
        display: none !important;
    }
}

@media screen and (max-height: 750px) {
    .owl-carousel {
        display: none !important;
    }

    .main-content {
        top: 50%;
    }
}